@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(46, 46, 46);
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.container{
    width: 1200px;
    margin: 20px auto;
}

.title{
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin: 15px;
    padding-top: 200px;
}

.subtitle{
    color: white;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

nav{
    background-color: tomato;
}

nav ul{
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;

}

nav ul li{
    display: inline-block;
    background-color: tomato;
}

nav a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 50px;
    padding: 0 20px;
}

nav li:hover{
    background-color: rgb(46, 46, 46);
}

nav ul ul{
    display: none;
    position: absolute;
    top: 50px;
    
}

nav ul li:hover > ul{
    display: inherit;
}

nav ul ul li{
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul ul li{
    position: relative;
    top: -50px;
    left: 200px;
}

li>a::after{
    content: "+";
}

li>a:only-child::after{
    content: " ";
}
